* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #b8dfb1;
  font-family: "Farro", sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  text-align: center;
}

.calculator {
  background-color: rgb(0, 0, 0);
  box-shadow: 5px 5px 150px rgba(0, 0, 0, 0.5);
  border-radius:  10px 10px 20px 20px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  height: 390px;
  width: 250px;
}

.display {
  background-color: rgb(47, 195, 221);
  color: #fff;
  border-radius:  10px 10px 10px 10px;
  font-size: 36px;
  position: relative;
  padding: 20px 10px;
  text-align: right;
  height: 70px;
  width: 100%;
}

.nums-container {
  width: 75%;
}

.ops-container {
  width: 25%;
}

button {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 24px;
  margin: 5px;
  height: 50px;
  width: 50px;
}

button:hover {
  opacity: 0.9;
}

button:active {
  transform: scale(0.9);
}

button:focus {
  outline: none;
}

button.big-v {
  border-radius: 50px;
  height: 110px;
}

button.big-h {
  border-radius: 50px;
  width: 110px;
}

button.orange {
  background-color: #ee9406;
  color: #fff;
}

button.dark-grey {
  background-color: #323232;
  color: #fff;
}

button.light-grey {
  background-color: #a5a5a5;
}

button.ac {
  margin-right: 50%;
}